<div class="hero">
  <img src="assets/img/profile.png" alt="Foto de Ludmila" class="profile" loading="eager" />
  <h1>De conectar con personas a conectar con tecnología</h1>
  <p>
    Vengo del mundo de <strong>ventas y atención al cliente</strong>, donde aprendí a escuchar y adaptarme rápido.
    Hoy vuelvo a mi primer amor: la <em>programación</em>. Me inspiran el <strong>anime</strong>
    <img src="assets/img/estrella-alada1.png" alt="Estrella alada" class="icon-yarn" loading="lazy" />, las <em>flores de cerezo</em> 
    <img src="assets/img/cherry-blossom.png" alt="Flor de cerezo" class="icon-yarn" loading="lazy" /> y el <strong>tejido a crochet</strong>
    <img src="assets/img/yarn.png" alt="Ovillo de lana" class="icon-yarn" loading="lazy" />, y quiero que mi código también refleje esa pasión y dedicación.
  </p>
  <div class="buttons">
    <a id="downloadBtn" class="btn" (click)="downloadCV()">
      <i class="fa-solid fa-download"></i> Descargar CV
    </a>
    <a class="btn" href="https://github.com/Ludmimar" target="_blank">
      <i class="fa-brands fa-github"></i> GitHub
    </a>
    <a class="btn" href="https://www.linkedin.com/in/ludmimar89" target="_blank">
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
  </div>
</div>