<!-- Pasiones -->
<section id="gustos" class="reveal">
  <div class="container">
    <h2><i class="fa-solid fa-palette"></i> Mis pasiones</h2><br>
    <div class="gustos-grid">
      <div class="gusto-card">
        <img src="assets/img/estrella-alada1.png" alt="Estrella alada" class="icon-yarn" />
        <h3>Anime</h3>
        <p>Historias que me inspiran a nunca rendirme y buscar siempre mejorar.</p>
      </div>
      <div class="gusto-card">
        <img src="assets/img/cherry-blossom.png" alt="Flor de cerezo" class="icon-yarn" />
        <h3>Flores de cerezo</h3>
        <p>Me recuerdan que cada instante cuenta, y que en lo fugaz habita la magia.</p>
      </div>
      <div class="gusto-card">
        <img src="assets/img/yarn.png" alt="Ovillo de lana" class="icon-yarn" />
        <h3>Crochet</h3>
        <p>Tejer con paciencia y creatividad, igual que programar.</p>
      </div>
    </div>
  </div>
</section>